/*Importando fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;    
}

/* Primeira parte- Cabeçalho */

#header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: rgb(255, 215, 221);
    width: 100%;
    
}
.EscritaLogo{
    width: 90%;
    height: 230px;
    width: 50%;
}
#header p{
    position: absolute;
    top: 40px;
    right: 40px;
    
}
.Logo{
    width: 8%;
    height: 90px;
}
#header p a{
    color: rgb(61, 36, 121);
    text-decoration: none;
    
}
#pAluno{
    position: relative;
    right: 130px;
}
#abaSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 36, 121); /* Cor inicial (mais escura) */
    background-image: linear-gradient(to right, rgb(61, 36, 121), rgb(121, 60, 121));
    padding: 60px;
    
}
#sobre p{
    width: 30%;
    color: #e5d92e;
    font-size: 20px;
}
h1{
    color: #e5d92e;
    font-size: 60px;
    width: 30%;
    margin-bottom: 20px;
}
#sobre p, h1{
    position: relative;
    left: 7%;
}

#foto1{
    position: relative;
    right: 300px;
    width: 400px; 
    height: 400px;
    top: 50px;
}
#foto2{
    width: 360px;
    height: 360px;
    position: relative;
    right: 100px;
}
.Turmas{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    
}
.Turmas .title{
    font-size: 60px;
    margin: 20px;
    color: #e5d92e;
}
.Turmas p{
    color: white;
    width: 40%;
    text-align: center;
    margin: 20px;
}
#divisaoTurmas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
}
.classes{
    position: relative;
    margin: 10px;
    border: 5px solid white;
    padding: 1rem;
    height: 280px;
    width: 170px;
    transition: 0.4s;
    
}
.classes:hover{
    transform: scale(1.1);
}
.classes h2{
    color: #e5d92e;
    margin: 0 auto;
    font-size: 32px;
    position: absolute;
    bottom: 68px;
    
}
#Preparatorio{
    font-size: 21px;    
}
.classes img{
    width: 80%;
    height: 100px;
    position: relative;
    left: 17px;

}

#divLoc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(61, 36, 121); /* Cor inicial (mais escura) */
    background-image: linear-gradient(to right, rgb(61, 36, 121), rgb(121, 60, 121));
    border-bottom: 7px solid #e5d92e;
    padding: 30px;
}
#divLoc h2{
    font-size: 60px;
    margin: 20px;
    color: #e5d92e;
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(255, 215, 221);
    
    
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.footer img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
#instagram,.endereco, .telefone,#youtube{
    display: flex;
    margin: 5px;
    
}
#telefone{
    position: relative;
    bottom: 15px;
}
#redessociais,#telefone,#endereço{
    margin:5px ;
    width: 30%;
}
.footer h2{
    font-size: 35px;
    margin-bottom: 15px;
}
.footer a{
    color: black;
}
gmp-map {
    height: 400px;
    width: 50%;
    border: 3px solid yellow;
    margin: 20px;
  }

